<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center"
    style="min-height: 75vh;"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style='background-image: url("../../../assets/1.jpg");'
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              ڤيلا تالا بيك 2023 
            </h1>
            <p class="mt-4 text-lg text-gray-300">
              لقضاء يوم مميز وأفضل الأوقات مع العائلة و الأصدقاء
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
      style="height: 70px;"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-300 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>
  <section class="pb-20 bg-gray-300 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">بلش الصيف ، وبلشت الطشات 🌡️🥵</h6>
              <p class="mt-2 mb-4 text-gray-600">
                وفرنالكم مكان مريح وهادئ وآمن 🧘🧘
اجواء العيلة واللمات ما بتحلى الا في فيلا تالا بيك 🎉😍😍
مكان كامل الخصوصية وموقع مميز 🎉😍😍
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blue-400"
              >
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">عيش حياتك 🥵🤍</h6>
              <p class="mt-2 mb-4 text-gray-600">
                بهالشوب ليش ما ندلل حالنا ونطلع نسبح بمكان مريح وحلو 🥵🤍
              </p>
            </div>
          </div>
        </div>
        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-green-400"
              >
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">ما تضيعوا اجازتكم بقعدة البيت... ⏳️</h6>
              <p class="mt-2 mb-4 text-gray-600">
                أجمل ألاجواء بمنطقة زواتا بتلاقوها 😇في شاليه تالا بيك ⛱️🏊‍♂️ بقدملكم عروض ما بتتفوت للعطلة الصيفية..  
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
          >
            <i class="fas fa-user-friends text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            ميزات الڤيلا :
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
          >
          (بتتكون من طابقين ) 
          3 غرف نوم🛌🔥
          مسبح كبير يبدأ من 80سم الى 2متر 🛀🥵🌡️🔥
          3 حمامات داخليه 🔥🔥
          حمام خارجي مع مرفق ومكان مخصص للشواء 🔥🍢🍢 
          مطبخ متوفر فيه (تلاجه ، غاز ، مايكروويف ) 🎉
          كراج سيارات يسع 6 سيارات 🚗🚗
          نت 🥹🥹4G
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
          >
            
          </p>
          <a
            
            class="font-bold text-gray-800 mt-8"
            ></a
          >
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600"
          >
            <img
              alt="..."
              src="../../../assets/6.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block"
                style="height: 95px; top: -94px;"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-pink-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">
                Top Notch Services
              </h4>
              <p class="text-md font-light mt-2 text-white">
                The Arctic Ocean freezes every winter and much of the
                sea-ice then thaws every summer, and that process will
                continue whatever happens.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="../../../assets/location.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-pink-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-pink-300"
            >
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">الموقع الجغرافي لفيلا تالا بيك</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <section class="pb-20 relative block bg-gray-900">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
      style="height: 80px;"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-gray-900 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">إحجز الان</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-500">
            
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="relative block py-24 lg:pt-0 bg-gray-900">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300"
          >
            <div class="flex-auto p-5 lg:p-10">
              <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="name"> الأسم الأول</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    formControlName="firstName"
                    placeholder="الأسم الأول"
                  />
                  <div
                    *ngIf="!user.firstName.valid && user.lastName.touched"
                    class="alert alert-danger"
                  >
                    <h6 *ngIf="user.firstName.errors?.['required']">this field is required</h6>
                    <h6 *ngIf="user.firstName.errors?.['minlength']">
                      the name must be mor than 2 characters
                    </h6>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="lname">الإسم الأخير</label>
                  <input
                    type="text"
                    class="form-control"
                    id="lname"
                    name="lname"
                    formControlName="lastName"
                    placeholder="الإسم الأخير"
                  />
                  <div *ngIf="!user.lastName.valid && user.lastName.touched" class="alert alert-danger">
                    <h6 > يرجى التاكد من البيانات المدخلة</h6>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phone">رقم الهاتف</label>
                  <div class="input-group mb-2 mr-sm-2">
                  
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    formControlName="phone"
                    placeholder="رقم الهاتف"
                  />
                </div>
                  <div *ngIf="!user.phone.valid && user.phone.touched" class="alert alert-danger">
                    <h6 >يرجى التاكد من البيانات المدخلة</h6>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="dates">التاريخ</label>
                  <input type="date" class="form-control"
                  id="dates"
                  name="dates"
                  formControlName="userDate"
                  [(ngModel)]="selectedDate"
                  placeholder="تاريخ الحجز" required>
                </div>
                <div class="mb-3">
                  <label class="my-1 mr-2" for="inlineFormCustomSelectPref">الوقت</label>
                  <select #time class="custom-select mr-sm-2" id="time" name="time" formControlName="time" (change)="getSelectedValue(time.value)">
                    <option value="12">12 ساعة</option>
                    <option value="24">24 ساعة</option>
                  </select>
                </div>
                
                <button class="btn btn-outline-success btn-lg btn-block badge-pill container "
                type="submit" 
                [disabled]="!profileForm.valid || profileForm.pristine">
      حجز
    </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>