<div class="center m-5">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">الاسم الاول</th>
            <th scope="col">الاسم الثاني</th>
            <th scope="col">رقم الجوال</th>
            <th scope="col">الوقت</th>
            <th scope="col">التاريخ</th>
            <th scope="col">حذف</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list">
                <td>{{item.firstName}} </td> 
                <td> {{item.lastName}} </td>
                <td> {{item.phone}} </td>
                <td> {{item.Time}} </td>
                <td> {{item.date}} </td>
                <td> <button class="btn btn btn-outline-danger" (click)="delet(item)">حذف</button> </td>
          <td>
        </tbody>
      </table>
</div>